//- Copyright (c) 2014 TopCoder, Inc. All rights reserved.
//-
//- @author TCSASSEMBLER
//- @version 1.0
//-

doctype html
html
  head
    title SAM OAuth2 Demo
  body
    | The authorization has been denied.
